@charset "UTF-8";
body {
  font-family: "Roboto", "Noto Sans KR", "돋움";
  color: #111;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
  vertical-align: top;
}

button {
  background: none;
  border: none;
  outline: none;
}

.container {
  margin: 0 auto;
}

#header {
  background-color: #fff;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 50px;
}
#header .container {
  height: 50px;
  width: 100%;
}

#logo {
  position: absolute;
  top: 0px;
  left: 10px;
}
#logo a {
  background-size: auto 30px;
  display: flex;
  align-items: center;
}

.util {
  display: none;
  position: absolute;
  right: 0;
}
.util ul {
  display: flex;
  align-items: center;
  height: 100px;
}
.util ul li:nth-last-child(1) a {
  border: 1px solid #7a6955;
  padding: 15px 20px;
}
.util ul li a {
  padding: 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
.util ul li a i {
  font-size: 24px;
}

#gnb {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 100%;
  transition: all 0.25s ease;
}
#gnb.on {
  top: 50px;
  left: 0;
}
#gnb .depth01 {
  font-size: 1.625rem;
  font-weight: 300;
  color: #333;
  padding: 0 20px;
  line-height: 3;
  transition: all 0.25s ease;
  position: relative;
}
#gnb .depth01 i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s ease;
}
#gnb .depth02 {
  color: #555;
  padding: 30px 10px;
  display: none;
}
#gnb .depth02 li a {
  display: block;
  padding: 10px 0;
}

.btn-all {
  position: absolute;
  right: 20px;
  top: 0px;
  width: 40px;
  height: 40px;
}
.btn-all span {
  width: 30px;
  height: 2px;
  background-color: #7a6955;
  position: absolute;
  left: 20px;
  transition: all 0.25s ease;
}
.btn-all span:nth-child(1) {
  top: 24px;
}
.btn-all span:nth-child(2) {
  top: 34px;
}
.btn-all span:nth-child(3) {
  top: 44px;
}
.btn-all.on span:nth-child(1) {
  top: 34px;
  transform: rotate(45deg);
}
.btn-all.on span:nth-child(2) {
  top: 34px;
  opacity: 0;
  transform: translateX(-100px);
}
.btn-all.on span:nth-child(3) {
  top: 34px;
  transform: rotate(-45deg);
}

#footer {
  background-color: #333;
  color: #fff;
}
#footer .util-box {
  padding: 50px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .util-box .util {
  position: relative;
}
#footer .util-box .util ul {
  height: auto;
}
#footer .util-box .util ul li:nth-last-child(1) a {
  border: none;
  padding: 0;
}
#footer .addr-box {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
#footer .addr-box address {
  line-height: 1.5;
  font-size: 14px;
}
#footer .addr-box address .copyright {
  margin-top: 30px;
  opacity: 0.5;
}
#footer .addr-box .family-site {
  font-size: 14px;
  position: relative;
}
#footer .addr-box .family-site button,
#footer .addr-box .family-site li a {
  width: 200px;
  height: 40px;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  border-color: #4d4d4d;
}
#footer .addr-box .family-site ul {
  position: absolute;
  bottom: 40px;
  margin-bottom: -1px;
  opacity: 0;
  transition: all 0.25s ease;
  transform: translateY(-50px);
  pointer-events: none;
}
#footer .addr-box .family-site ul li {
  margin-top: -1px;
}
#footer .addr-box .family-site.on ul {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
}